
html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #A0BB8E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator-body {
    width: 30%;
    height: 60%;
    background: #656565;
}

.display {
    width: 90%;
    height: 20%;
    margin: 5% 5% 10% 5%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

#result {
    background: #FFFFFF;
    width: 89%;
    text-align: right;
    font-size: 4.2em;
}

#operation {
    background: #FFFFFF;
    width: 10%;
    margin-left: 1%;
    text-align: top;
    font-size: 2em;
}

.calculator-buttons {
    width: 90%;
    height: 14%;
    margin: 2% 5%;
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    height: 80%;
    margin: 0;
}

.standard-button {
    /* height: 30%; */
    width: 20%;
    color: #000000;
    background: #DDDDDD;
}

.standard-button:hover {
    background: #a5a2a2;
}

.equal-button {
    /* height: 30%; */
    width: 48%;
    color: #FFFFFF;
    background: #E8A45B;
}

.equal-button:hover {
    background: rgb(243, 129, 8);
}

@media screen and (max-width: 300px) {
    .calculator-body {
        width: 80%;
        height: 45%;
        background: #656565;
    }

    #result {
        font-size: 3em;
    }

    #operation {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 450px) and (min-width: 301px) {
    .calculator-body {
        width: 60%;
        height: 40%;
        background: #656565;
    }

    #result {
        font-size: 2.5em;
    }

    #operation {
        font-size: 1.2em;
    }

    button {
        height: 60%;
    }
}

@media screen and (max-width: 600px) and (min-width: 451px) {
    .calculator-buttons {
        height: 15%;
    }

    .calculator-body {
        width: 40%;
        height: 50%;
        background: #656565;
    }

    #result {
        font-size: 3.4em;
    }

    #operation {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
    .calculator-buttons {
        height: 15%;
    }
}
